.AppLink {
    color: var(--primary-color);
    transition: 0.2s;

    &:hover {
        opacity: 0.8;
        transition: 0.2s;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}

.red {
    color: var(--red-light);
}
